/* stylelint-disable */
/* stylelint-disable */
/* stylelint-enable */
h1,
h2 {
  font-family: serif !important;
  font-weight: 900 !important; }

a,
span,
ul li,
label,
input,
textarea,
button,
p {
  letter-spacing: 0.55px; }

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.65px;
  line-height: 1.1; }

h2 {
  font-size: 3rem;
  letter-spacing: 0.65px;
  line-height: 1.1; }

h3 {
  font-size: 2.25rem;
  letter-spacing: 0.65px;
  line-height: 1.1; }

h4 {
  font-size: 1.7rem;
  letter-spacing: 0.65px;
  line-height: 1.1; }

h5 {
  font-size: 1.25rem;
  letter-spacing: 0.65px;
  line-height: 1.1; }

h6 {
  font-size: 1rem;
  letter-spacing: 0.65px;
  line-height: 1.1; }

/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.home {
  background: #FFFFFF;
  min-height: 100vh;
  padding: 6rem 0; }
  .home h1 {
    margin-bottom: 1.5rem; }
